

<html>
<head>
<title>Title of the document</title>
<style>
body {
  background-image: url("https://wallpaperplay.com/walls/full/e/0/a/54074.jpg");
  background-color: #cccccc;
}

p {
  color: white;
}

h1 {
  color: white;
}
</style>

</head>

<body>
<br></br>
<h1>Popular Destinations</h1>

<br></br>
<!-- list of planets -->
<% @planets.in_groups_of(4, false).each do |group| %>
    <div class='row'>
      <% group.each do |planet| %>
        <div class='col-md-3'>
        <p><%= planet.name %></p>
          <a href="<%= planet_path(planet)%>">
            <img src="<%= planet.planet_img_url %>" class="planet_pic">
            </a>
          </div>
      <% end %>
    </div>
  <% end %>

  </body>
</html>



</body>

</html>

