<html>

<body>


<!-- top image -->
<!--<div class="hero-image">
  <div class="hero-text">
    <h1>Be mindful of the future, but not at the expense of the moment.</h1>
    <h3>pick your perfect destination</h3>
  </div>
</div>
<br>-->

<!-- top image -->
<!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://img.cinemablend.com/cb/3/0/d/5/7/2/30d5729335fd4396a82511270ff7fe187ceb69fddb667d0fa5fcc797b3ca7513.jpg" alt="First slide" class="img_responsive" width="auto" height= "500px" >
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.csmonitor.com/csm/2015/03/0325-tunisia-tatooine.jpg?alias=standard_900x600" alt="Second slide" class="img_responsive" width="auto" height= "500px">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://awol.junkee.com/wp-content/uploads/2018/03/ftre.png" alt="Third slide" width="auto" height= "500px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->

<div class="carousel-container">
  
  <ul class="carousel my-carousel carousel--scale">
    <input class="carousel__activator" type="radio" id="P" name="scale" checked="checked"/>
    <input class="carousel__activator" type="radio" id="Q" name="scale"/>
    <input class="carousel__activator" type="radio" id="R" name="scale"/>
    <input class="carousel__activator" type="radio" id="S" name="scale"/>
    <input class="carousel__activator" type="radio" id="T" name="scale"/>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="T"></label>
      <label class="carousel__control carousel__control--forward" for="Q"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="P"></label>
      <label class="carousel__control carousel__control--forward" for="R"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="Q"></label>
      <label class="carousel__control carousel__control--forward" for="S"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="R"></label>
      <label class="carousel__control carousel__control--forward" for="T"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="S"></label>
      <label class="carousel__control carousel__control--forward" for="P"></label>
    </div>
    <li class="carousel__slide">
      <h1>Hoth</h1>
    </li>
    <li class="carousel__slide">
      <h1>Tatooine</h1>
    </li>
    <li class="carousel__slide">
      <h1>Naboo</h1>
    </li>
    <li class="carousel__slide">
      <h1>Yavin 4</h1>
    </li>
    <li class="carousel__slide">
      <h1>Kashyyyk</h1>
    </li>
    <div class="carousel__indicators">
      <label class="carousel__indicator" for="P"></label>
      <label class="carousel__indicator" for="Q"></label>
      <label class="carousel__indicator" for="R"></label>
      <label class="carousel__indicator" for="S"></label>
      <label class="carousel__indicator" for="T"></label>
    </div>
  </ul>
</div>

<!--<div class="w3-container w3-dark-gray">
  <p>Resize this responsive page!</p> 
</div>-->

<div class="w3-row-padding" id= "about">
  <div class="w3-third">
    <img src= "https://dascollectibles.files.wordpress.com/2011/12/femitaylor.jpg">
    <h2>Reina-bes Nhibbbyb, Founder</h2>
    <p>A Glee Anselm native, Nhibbbyb was a Peace Corps Medical Officer for 25 moons.</p>
  </div>

  <div class="w3-third" id= "about">
    <h2>About StarBnB</h2>
    <p>Poised to share their interplanetary knowledge, Vruska and Nhibbbyb 
        started a guided camping adventure business that soon became Star BnB, 
        which lets it’s members choose camp site and level of amenities.</p>

    <p>With Star BnB you can choose from our wide range of planets, reservation
        time(based on ideal planetary condition periods), and which package you 
        would like to purchase. Our packages range from the Gold standard of 
        living all the way down to ‘Roughin it’, so you can choose your level of comfort.</p>

    <p>For each planet you will receive a specialized backpack with some necessary items
        you will need for your adventure; from tools to help you navigate the lush 
        jungles of Yavin 4, to specialized clothing specially designed to protect 
        you from harsh the snowstorms of Hoth. You will also receive a notebook in 
        which you can journal some of your experiences to help us make others' journeys
        the experience of a lifetime.</p>

    <p>We hope you enjoy exploring these alien worlds as much as we enjoy sharing 
        our knowledge with you.</p>
  </div>

  <div class="w3-third" id= "about">
    <img src="https://pm1.narvii.com/6603/9d774c063589e24400b3c8f48238a1c9085b5447_hq.jpg">
    <h2>uk-Alex Vruska, Co-Founder</h2>
    <p>A Chadra-Fan former Cargo Ship Engineer from the Outer-Rim planet of Chad.</p>
  </div>
</div>


 
<!-- list of planets -->
<% @planets.in_groups_of(4, false).each do |group| %>
    <div class='row'>
      <% group.each do |planet| %>
        <div class='col-md-3'>
        <p><%= planet.name %></p>
          <a href="<%= planet_path(planet)%>">
            <img src="<%= planet.planet_img_url %>" />
            </a>
          </div>
      <% end %>
    </div>
  <% end %>

  </body>
</html>
