<h1>All Reservations</h1>



<%@reservations.each do |reservation|%>

    
    <%=reservation.planet.name %>  |  <%=reservation.date_time %>
    <%= button_to("Delete a reservation", reservation_path(reservation), method: :delete) %>
    

<%end%>

