<h1>All Reservations</h1>



<%@reservations.each do |reservation|%>
<ul>
    <li>
    <%=reservation.planet.name %>  |  <%=reservation.date_time %>
    <%= button_to("Delete a reservation", reservation_path(reservation), method: :delete) %>
    </li>
</ul>
<%end%>

<%= button_to("Back to my profile", user_path(session[:user_id]), method: :get) %>