

<div class="split left">
  <div class="centered">
    <img src="https://i.pinimg.com/originals/48/83/40/48834011af43753afa57107c67e12dd5.png" width="200" height="600">
  </div>
</div>

<div class="split right">
  <div class="right_side_list">
    <h1>My Reservations</h1>
    <%my_reso = current_user.reservations%>
    <%my_reso.each do |reservation|%>
      <p>Date: <%= link_to("#{reservation.date_time}", reservation_path(reservation))%></p>
        <p>Planet: <%=reservation.planet.name %></p>
        <%= button_to("Delete a reservation", reservation_path(reservation), method: :delete) %>
    <%end%>
  </div>
</div>

