// Place all the styles related to the Planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

.name {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

  }

.planet_pic {
  border-radius: 50%;
}

.land_image {
  width: 1000px;
  height: 50%;
}