// Place all the styles related to the Planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: 
    url("https://content.pulse.ea.com/content/legacy/starwars-ea-com/en_GB/starwars/battlefront/news-articles/the-star-wars-battlefront-planets--creating-tatooine/_jcr_content/featuredImage/renditions/rendition1.img.jpg");
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }



img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

.name {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

  }
// carosel image block around text
  /* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 60%;
  left: 25%;
  // margin-right: -20%;
  opacity: 0.7;
  background-color: rgb(177, 171, 171);
  padding-left: 20px;
  padding-right: 20px;
}

#box_2 {
  position: absolute;
  top: 60%;
  left: 40%;
  // margin-right: -20%;
  opacity: 0.8;
  background-color: rgb(177, 171, 171);
  padding-left: 20px;
  padding-right: 20px;
}
#box_3 {
  position: absolute;
  top: 60%;
  left: 36%;
  // margin-right: -20%;
  opacity: 0.7;
  background-color: rgb(177, 171, 171);
  padding-left: 20px;
  padding-right: 20px;
}

.box_font {
  color: white;
  font-weight: 900;
}

.about {
  text-decoration: underline;
}

.info {
  font-size: 17px;
}

.prof{
  border-radius: 10px;
  margin-top: 30%;
  height: 350px;
  width: 60%;

}

.planet_pic {
  border-radius: 50%;
}