// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(102, 119, 119);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #231e25}
  
  .button:active {
    background-color: #231e25;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .center {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
  }

  